---
page_title: "{{.Name}} {{.Type}} - {{.ProviderName}}"
subcategory: ""
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# {{.Name}} ({{.Type}})

{{ .Description | trimspace }}

## Example Usage

### Find by ID

```hcl
data "appleappstoreconnect_in_app_purchase" "example" {
  id = "1234567890"
}
```

### Find by app and product ID

```hcl
data "appleappstoreconnect_app" "example" {
  bundle_id = "com.example.app"
}

data "appleappstoreconnect_in_app_purchase" "example" {
  filter = {
    app_id     = data.appleappstoreconnect_app.example.id
    product_id = "com.example.app.premium"
  }
}
```

{{ .SchemaMarkdown | trimspace }}
